// SCSS Variables
$color-background: #F5F5F5;
$color-darkblue: #28476B;
$color-orange: #FFBD59;
$color-tael: #396D69;
$color-lime: #A5E06C;

$font-heading: "Zing Rust Base", sans-serif;
$font-body: "Glacial Indifference", sans-serif;